/* Paleta de colores
    #F6DD00; amarillo
    #FFFACA; claro
    #000000 negro
    #CCE6FF celeste
    #D6FDD0 verde
    #00509D azul
*/

@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Holtwood+One+SC&display=swap');

* {
    box-sizing: border-box;
}

#body2 {
    justify-content: center;
    background-color: #EDE0D0;
    background-image: url(/img/grid.png);
    box-sizing: border-box;
    padding: 2rem 5%;
    font-family: 'Happy Monkey';
}

.change-design {
    background-color: rgb(67, 151, 216);
    border-color: transparent;
    border-radius: 15rem;
    height: 2rem;
    align-items: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: black;
}

.change-design:hover {
    background-color: rgb(49, 144, 216);
    border-color: transparent;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: black;
}

.header-line {
    display: none;
}

#h1-2 {
    text-align: center;
    font-family: 'Holtwood One SC', serif;
    color: #F6DD00;
    -webkit-text-stroke: 1px black;
    text-shadow: 5px 5px black;
    margin: 0;
}

#form2 {
    display: grid;
    flex-direction: column;
    margin-top: 3rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

#fieldset2 {
    margin-bottom: 4rem;
    width: 100%;
    text-align: center;
    background-color: #D6FDD0;
    border: 2px solid black;
    box-shadow:
        0.5rem 0.5rem 0 -2px black,
        0.5rem 0.5rem black;
}

.first-fieldset {
    background-color: #CCE6FF;
    text-align: center;
    border: 2px solid black;
    box-shadow:
        0.5rem 0.5rem 0 -2px black,
        0.5rem 0.5rem black;
}

.second-fieldset {
    margin-bottom: 4rem;
    width: 50%;
    margin-left: 2rem;
    background-color: #FFFACA;
    border: 2px solid black;
    box-shadow:
        0.5rem 0.5rem 0 -2px black,
        0.5rem 0.5rem black;
}

.third-fieldset {
    margin-top: 3rem;
    text-align: left;
}

.second-fieldset:focus-within {
    background-color: #FFFACA;
}

.first-fieldset:focus-within {
    background-color: #CCE6FF;
}

#legend2 {
    font-family: 'Holtwood One SC', serif;
    text-align: left;
    background-color: white;
    color: black;
    padding: 0.5rem;
    border: 2px solid black;
    font-weight: 500;
}

.name-container {
    justify-content: space-between;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.contact-container {
    text-align: left;
}

.contact-container #input2 {
    width: 100%;
}

#input2 {
    text-align: left;
}

.input2 {
    width: 100%;
    text-align: left;
    height: 2rem;
}

#input2, .select2 {
    border: 1px solid black;
    width: 100%;
    height: 2rem;
}

.textarea2 {
    resize: vertical;
    cursor: n-resize;
    width: 100%;
    text-align: left;
}

.dotted-line2 {
    display: none;
}

.activities-container {
    display: flex;
    margin: 1.5rem 0 2rem 0;
}

.sede-container {
    display: flex;
}

.palermo-label, .rosario-container {
    margin-left: 7rem;
}

.rosario-container {
    text-align: left;
}

.textarea2:focus {
    text-align: left;
    background-color: #e3e3e3;
    color: black;
}

.input2:focus {
    text-align: left;
    background-color: #e3e3e3;
    color: black;
}

.input2::placeholder {
    color:transparent;
}

#input2::placeholder {
    background-color: #e3e3e3;
    height: 2rem;
}

#label2 {
    text-align: left;
}

.radio-container2 {
    justify-content: left;
}

span {
    display: none;
}

/* ---------------------------------- Inputs conditions - news ----------------------------------*/

.conditions-news-container2 {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
}

.conditions-field2 {
    display: flex;
    align-items: center;
}

.check-label2 {
    margin-right: 2rem;
    margin-top: 0;
}

.obligatory-field2, .check-label2 {
    color: black;
}

.p1 {
    margin-top: 0;
    font-size: 1rem;
}

.sede-label {
    margin-top: 0;
    padding-top: 0;
}

/* ---------------------------------- Buttons */
.button-container2 {
    display: flex;
    margin-top: 1rem;
    justify-content: left;
}

.button2 {
    font-family: 'Holtwood One SC', serif;
    font-size: 1rem;
    color: black;
    background-color: #F6DD00;
    border: 2px solid black;
    border-radius: 15rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-shadow:
        0.2rem 0.2rem 0 -1px black,
        0.2rem 0.2rem black;
}

.f-b2 {
    margin-right: 1rem;
    
}

.button2:hover {
    background-color: black;
    color: #F6DD00;
    box-shadow:
        0.2rem 0.2rem 0 -1px #F6DD00,
        0.2rem 0.2rem #F6DD00;
}

.s-b2 {
    background-color: #00509D;
    color: white;
    margin-left: 1rem;
}

.s-b2:hover {
    background-color: white;
    color: black;
    box-shadow:
        0.2rem 0.2rem 0 -1px black,
        0.2rem 0.2rem black;
}

@media screen and (max-width: 1500px) {
    #body2 {
        margin: 2rem 5% 2rem 5%;
    }

    .flex-container {
        flex-direction: column;
    }

    .second-fieldset {
        width: 100%;
        margin-left: 0;
    }

    .palermo-label, .rosario-container {
        margin-left: 0;
    }

    .conditions-news-container2,
    
    .sede-container,
    .activities-container {
        flex-direction: column;
    }
}